@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: black;
}
#gameInfo {
    color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 12.5%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
}
#gameInfo h2, #gameInfo h5 {
    width: 50%;
}
.controlsGame {
    width: 35%;
    font-size: 13px;
}
.controlsMenu {
    width: 65%;
    font-size: 12px;
    border-left: 1px solid white;
    padding-left: 5px;
}
/* --------- Main Screen --------------- */
/* ------------------------------------- */
#screen{
    position: relative;
    display: inline-block;
    background-color: black;
    left: 230px;
    right: 204px;
    top: 104px;
}
/* --------------- Overworld player UI ---------------- */
/* --------------------------------------------------- */
/* overworld UI main div */
#overworldUI {
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
/* player exp bar div */
#playerExpbars {
    position: relative;
}
#playerExpbars h1 {
    position: absolute;
    /* border: 2px solid red; */
}
/* underneath grey exp bar (empty) */
#playerExpbar{
    height: 8px;
    max-width: 820px;
    background-color: #ccc;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 50px;
    left: 50px;

    border: 3px solid black;
}
/* overlapping exp bar (gained exp) */
#playerExpbarChange {
    height: 8px;
    max-width: 820px;
    width: 0px;
    background-color: lightskyblue;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 50px;
    left: 50px;
    border: 3px solid black;
}
/* charatcer dialogue box - emotes, exp ticks, damage ticks etc */
#characterDialogueBox {
    position: absolute;
    height: 200px;
    width: 200px;
    
    top: 150px;
    left: 360px;
    padding: 8px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    /* border: 3px solid black; */
}

#floatingTextEXP, #floatingTextDamage{
    position: absolute;
    height: 200px;
    width: 200px;
    /* bottom: 55px; */
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    color: yellow;
}
#floatingTextLvlup {
    position: absolute;
    height: 200px;
    width: 200px;
    /* bottom: 55px; */
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    color: green;
    font-size: 20px;
    z-index: 5;
}

/* character health bars */
#characterHealthbars {
    position: relative;
}
/* hidden health bar (empty) */
#characterHealthbar {
    height: 6px;
    background-color: #ccc;
    border: 2px solid black;
    margin: 5px;
    position: absolute;
    top: 325px;
    right: 390px;
    left: 375px;
}
/* overlapping healthbar */
#characterHealthbarChange {
    height: 6px;
    background-color: green;
    border: 2px solid black;
    margin: 5px;
    position: absolute;
    top: 325px;
    right: 390px;
    left: 375px;
}
/* char seclected/chosen skills bar */
#charSkills {
    height: 50px;
    background-color: transparent;
    top: 450px;
    right: 150px;
    left: 150px;
    position: absolute;
    padding-top: 4px;
    padding-left: 4px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4px;

    border: 3px solid black;
    border-radius: 20px;
}
.chosenSkill {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 95%;

    border: 2px solid black;
    border-radius: 20px;
    font-size: 10px;
}
/* -------------character inventory -------------------*/
#characterInventory {
    height: 500px;
    width: 350px;
    background-color: #ccc;
    margin: 5px;
    position: absolute;
    top: 50px;
    right: 20px;

    border: 3px solid black;
    border-radius: 20px;

    display: none;
}
/* skills menu */
#skillsMenu {
    height: 500px;
    width: 850px;
    background-color: #ccc;
    border: 3px solid black;
    margin: 5px;
    position: absolute;
    top: 50px;
    right: 20px;

    display: none;
}
#skillGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 5px;
    margin-left: 4px;
    width: 98%;
    height: 94%;
    justify-content: center;
    text-align: center;
    text-justify: center;
}
.skillChoice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    background-color: darkgray
}
.skillUnlock, .skillDetails{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.skillChoice h4{
    width: 100%;
    font-size: 16px;
}
.skillChoice p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 9px;
}
.skillDetails p{
    width: 100%;
}
.skillIcon {
    display: flex;
    height: 40%;
    width: 40%;
}
.skillIcon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* ---------- talent menu  -------------------*/
#talentsMenu {
    height: 500px;
    width: 350px;
    background-color: #ccc;
    border: 3px solid black;
    margin: 5px;
    position: absolute;
    top: 50px;
    left: 20px;

    display: none;
}
#talentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 5px;
    margin-left: 4px;
    width: 98%;
    height: 94%;
    justify-content: center;
    text-align: center;
    text-justify: center;
}
.talentChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
/* menu name  */
#characterInventory h1, #characterDetails h1, #talentsMenu h1, #skillsMenu h1, #questMenu h1{
    margin: 5px;
    text-align: center;
}
/* actual bag for items */
#bag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 5px;
    margin-left: 4px;
    width: 98%;
    height: 94%;
    justify-content: center;
    text-align: center;
    text-justify: center;
}
/* each indidvidual bag space - 16 total */
.bagSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 20px;
}

/* ------------------- charcter details menu  ---------------------*/
#characterDetails {
    height: 500px;
    width: 350px;
    background-color: #ccc;
    border: 3px solid black;
    margin: 5px;
    position: absolute;
    top: 50px;
    left: 20px;

    display: none;
}
#characterStats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    column-gap: 5px;
    margin-left: 8px;
    width: 98%;
    height: 50%;
    justify-content: center;
    text-align: center;
    text-justify: center;

    border: 2px solid red;
}
/* divs for each stat type */
#characterHP, #characterSP, #characterMP, #characterATK, #characterDEF, #characterSPD, #characterLevel {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid green;
    width: 99%;
}
/* actual stats rendering */
#characterStats .charStats {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
#charMP {
    margin-left: 47px;
}
#charATK, #charHP {
    margin-left: 14px;
}
#charSPD {
    margin-left: 32px;
}
/* ------------------- quest menu  ---------------------*/
#questMenu {
    background-color: #ccc;
    border: 3px solid black;
    margin: 5px;
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    bottom: 100px;

    display: none;
}
#questLog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    column-gap: 5px;
    margin-left: 4px;
    width: 98%;
    height: 94%;
    justify-content: center;
    text-align: center;
    text-justify: center;
}
.questItem {
    display: flex;
    align-items: center;
    border: 2px solid green;
}
/* --------------- bottom menu bar w/ buttons to all overworld UI -----------*/
#bottomMenubar {
    height: 60px;
    background-color: transparent;
    position: absolute;
    padding-top: 4px;
    padding-left: 4px;
    bottom: 0px;
    right: 15px;
    left: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 4px;

    /* border-radius: 20px; */
    /* border: 3px solid black; */
    display: none;
}
/* buttons for bottom menu bar */
#charBtn, #skillBtn, #talBtn, #mapBtn, #invBtn, #questBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 90%;
    width: 95%;

    border-radius: 20px;
    border: 2px solid black;
}
/* hover animation for menu buttons */
#charBtn:hover, #skillBtn:hover, #talBtn:hover, #mapBtn:hover, #invBtn:hover, #questBtn:hover{
    background-color: darkgray;
}
/* overworld dialogue box */
#overworldDialogueBox {
    position: absolute;
    height: 70px;
    background-color: white;
    top: 50px;
    right: 15px;
    left: 15px;
    padding: 10px;
    cursor: pointer;

    border: 3px solid black;
    display: none;
    z-index: 4;
}

/* ---------- Enemy UI and Player UI--------------- */
/* ------------------------------------------------ */
/*  battle screen ui */
#battlescreenUI {
    display: none;
}

/* player */
#playerUI {
    background-color: white;
    border: 3px solid black;
    width: 350px;
    position: absolute;
    top: 400px;
    right: 25px;
    padding: 12px;
}
/* enemy */
#enemyUI {
    background-color: white;
    border: 3px solid black;
    width: 350px;
    position:absolute;
    top: 25px;
    left: 25px;
    padding: 12px;
}
/* combined player and enemy */
#enemyUI #enemyName, #playerUI #playerName {
    font-size: 20px;
}
#enemyHealthbars, #playerHealthbars{
    position: relative;
}
#enemyhealthbar, #playerhealthbar{
    height: 5px;
    background-color: #ccc;
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#enemyhealthFull, #playerhealthFull{
    height: 5px;
    background-color: green;
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#battleDialogueBox{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    display: none;
    cursor: pointer;
}
/* ---------- Main Canvas -------------- */
canvas {
    border: solid 5px gray;
}
/* ----------- battle flash --------- */
#battleFlash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

/* --------------- battle menu ----------------- */
#battleMenu {
    background-color: white;
    height: 160px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: solid 3px black;
    display:flex;
}
#attacksBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 66.66%;
}
button {
    cursor: pointer;
    font-size: 16px;
    border: none;
}
button:hover {
    background-color: #bbb;
    transition: 0.5s;
}
#attackDetails{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 3px black;
}
h1 {
    font-size: 16px;
}

