@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: black;
}
/* --------- Main Screen --------------- */
#screen{
    position: relative;
    display: inline-block;
    background-color: black;
    left: 230px;
    right: 204px;
    top: 104px;
}
/* ---------- Enemy UI and Player UI--------------- */
/* player */
#playerUI {
    background-color: white;
    border: 3px solid black;
    width: 350px;
    position: absolute;
    top: 400px;
    right: 25px;
    padding: 12px;
}
/* enemy */
#enemyUI {
    background-color: white;
    border: 3px solid black;
    width: 350px;
    position:absolute;
    top: 25px;
    left: 25px;
    padding: 12px;
}
/* combined player and enemy */
#enemyUI #enemyName, #playerUI #playerName {
    font-size: 20px;
}
#enemyHealthbars, #playerHealthbars{
    position: relative;
}
#enemyhealthbar, #playerhealthbar{
    height: 5px;
    background-color: #ccc;
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#enemyhealthFull, #playerhealthFull{
    height: 5px;
    background-color: green;
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#battleDialogueBox{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    display: none;
    cursor: pointer;
}
/* ---------- Main Canvas -------------- */
canvas {
    border: solid 5px gray;
}
/* ----------- battle flash --------- */
#battleFlash {
    position: absolute;
    top: 0;
    bottom: 20;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
}

/* --------------- battle menu ----------------- */
#battleMenu {
    background-color: white;
    height: 160px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: solid 3px black;
    display:flex;
}
#attacks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 66.66%;
}
button {
    cursor: pointer;
    font-size: 16px;
    border: none;
}
button:hover {
    background-color: #bbb;
    transition: 0.5s;
}
#attackDetails{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 3px black;
}
h1 {
    font-size: 16px;
}

