@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
}
/* ------------------- Actual Screen ------------------------------ */
#screen{
    position: relative;
    display: inline-block;
    background-color: black;
    left: 230px;
    right: 204px;
    top: 104px;
}
canvas {
    border: solid 5px gray;
}

#battleFlash {
    position: absolute;
    top: 0;
    bottom: 20;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
}

#battleMenu {
    background-color: white;
    height: 160px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    border: solid 3px black;
    display:flex;
}

#attacks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 66.66%;
}

button {
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #bbb;
    transition: 0.5s;
}

#attackDetails{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 3px black;
}

h1 {
    font-size: 16px;
}